// Portfolio start
.portfolio-wrapper {
  display: flex;
  flex-wrap: nowrap;

  .portfolio {
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    @include mobile {
      margin: 8% 0 0 10%;
    }

    .rotate {
      margin-bottom: 2%;
      margin-left: 1%;
      width: 200px;
      height: 95px;

      @include mobile {
        width: 100px;
        height: 40px;
      }
    }

    .rotate > .front {
      position: absolute;
      background-size: cover;
      transform: perspective(1000px) rotateX(0deg); //Perspective gives the illusion of 3d.
      width: 200px;
      height: 95px;
      backface-visibility: hidden; //If the backface was visible we would see the image on rotation.
      box-shadow: 2px 2px 2px $colour5;
      transition: transform 0.5s linear 0s;

      @include mobile {
        width: 100px;
        height: 40px;
      }
    }

    .rotate > .back {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: $colour5;
      position: absolute;
      background-size: cover;
      transform: perspective(1000px) rotateX(180deg);
      width: 200px;
      height: 95px;
      backface-visibility: hidden;
      box-shadow: 2px 2px 2px $colour5;
      transition: transform 0.5s linear 0s;

      @include mobile {
        align-items: flex-start;
        width: 100px;
        height: 40px;
      }

      p {
        padding: 5px 0 0 5px;
        font-size: 0.8em;
        color: $colour1;
        font-weight: 600;

        @include mobile {
          padding: 2px 0 0 2px;
          font-size: 0.3em;
        }
      }

      a:first-of-type {
        position: absolute;
        top: 80%;
        left: 80%;
        text-decoration: none;
        color: $colour3;
        font-size: 1em;

        @include mobile {
          top: 76.5%;
          left: 80%;
          font-size: 0.5em;
        }
      }
      a:last-of-type {
        position: absolute;
        top: 80%;
        left: 90%;
        text-decoration: none;
        color: $colour3;
        font-size: 1em;

        @include mobile {
          top: 76.5%;
          left: 90%;
          font-size: 0.5em;
        }
      }
    }

    #marvel {
      background-image: url(../images/marvel-500.png);
    }

    #norbert {
      background-image: url(../images/norbert-500.png);
    }

    #blog {
      background-image: url(../images/blogs-500.png);
    }

    #fruits {
      background-image: url(../images/fruits-500.png);
    }

    #crypto {
      background-image: url(../images/crypto-500.png);
    }

    #dice {
      background-image: url(../images/dice-500.png);
    }

    #recipes {
      background-image: url(../images/recipes-500.png);
    }

    #spotify {
      background-image: url(../images/spotify-500.png);
    }

    #weather {
      background-image: url(../images/weather-500.png);
    }

    #spain {
      background-image: url(../images/spain-500.png);
    }

    .rotate:hover > .front {
      transform: perspective(600px) rotateX(-180deg);
    }

    .rotate:hover > .back {
      transform: perspective(600px) rotateX(0deg);
    }
  }
}
// Portfolio end
