// Background static squares
#static-square1 {
  position: absolute;
  top: 10%;
  left: 65%;
  width: 40%;
  height: 100%;
  background-color: $colour3;
  opacity: 0.04;
  z-index: -1;
}

#static-square2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: $colour4;
  opacity: 0.04;
  z-index: -1;
}

#static-square3 {
  position: absolute;
  top: -50%;
  left: 32%;
  width: 40%;
  height: 100%;
  background-color: $colour5;
  opacity: 0.04;
  z-index: -1;
}
