@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(
		to right top,
		#b32674,
		#a03986,
		#894791,
		#715297,
		#5b5996,
		#50679f,
		#4973a4,
		#487fa7,
		#5397b6,
		#65afc3,
		#7ec7cf,
		#9cdeda
	);
}

#container {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#blob1 {
	position: relative;
	top: 0;
	left: 80%;
	width: 40%;
	height: 100%;
	background-color: #b32674;
	border-radius: 97% 3% 45% 55% / 37% 88% 12% 63%;
	opacity: 0.09;
}

#blob2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background-color: #9cdeda;
	border-radius: 52% 48% 70% 30% / 33% 48% 52% 67%;
	opacity: 0.04;
}

aside:nth-of-type(1) {
	width: 5%;
	height: 35%;
	position: relative;
	top: 5.5%;
	left: 5%;
	background-color: blanchedalmond;
	border-radius: 2px;
}

aside:nth-of-type(1) ul li {
	list-style: none;
	font-size: 0.65em;
	text-align: center;
	padding: 4px;
	color: #363535;
}

aside:nth-of-type(1) ul li a {
	text-decoration: none;
	color: #363535;
}

aside:nth-of-type(1) ul li a:hover {
	color: darkred;
	font-weight: bold;
}

section {
	width: 35%;
	height: 90%;
	position: absolute;
	top: 3%;
	left: 10.5%;
	background-color: blanchedalmond;
	border-radius: 2px;
}

section #top {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to right top,
		#b32674,
		#a03986,
		#894791,
		#715297,
		#5b5996,
		#50679f,
		#4973a4,
		#487fa7,
		#5397b6,
		#65afc3,
		#7ec7cf,
		#9cdeda
	);
	z-index: 3;
}

section #clip {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(
		28% 0,
		100% 43%,
		100% 100%,
		50% 100%,
		0 100%,
		0 36%
	);
	clip-path: polygon(28% 0, 100% 43%, 100% 100%, 50% 100%, 0 100%, 0 36%);
	background-image: linear-gradient(
		to right top,
		#b32674,
		#946ac0,
		#5f9be2,
		#5ec1e2,
		#9cdeda
	);
	z-index: 3;
}

section #img {
	position: absolute;
	top: 6%;
	left: 36%;
	z-index: 4;
	width: 100%;
	height: 100%;
}

section #img img {
	width: 25%;
	height: 25%;
}

section #buttons h1 {
	position: absolute;
	top: 35%;
	left: 32%;
	font-size: 1.2em;
	color: darkred;
	z-index: 6;
}

section #buttons h5 {
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 0.6em;
	color: #363535;
	z-index: 6;
}

section #buttons ul {
	position: absolute;
	top: 50%;
	left: 40%;
	z-index: 6;
}

section #buttons ul li {
	display: inline;
	list-style: none;
	padding-left: 5px;
}

section #buttons i {
	font-size: 2em;
}

section #buttons a {
	color: #363535;
}

section #buttons a:hover {
	color: darkred;
}

section #buttons aside:nth-of-type(1) {
	position: absolute;
	top: 90%;
	left: 0;
	width: 50%;
	height: 40px;
	border-top: 1px solid #363535;
	border-right: 1px solid #363535;
	border-bottom: 1px solid #363535;
	z-index: 6;
}

section #buttons aside:nth-of-type(2) {
	position: absolute;
	top: 90%;
	left: 50%;
	width: 50%;
	height: 40px;
	border-top: 1px solid #363535;
	border-bottom: 1px solid #363535;
	z-index: 6;
}

section #buttons aside p {
	padding: 12px;
	color: #363535;
	font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

section #buttons aside i {
	padding: 0 0 0 8px;
	color: #363535;
	font-size: 1em;
	text-align: center;
}

section #buttons aside:hover p {
	background-image: linear-gradient(
		to right top,
		#b32674,
		#a03986,
		#894791,
		#715297,
		#5b5996,
		#50679f,
		#4973a4,
		#487fa7,
		#5397b6,
		#65afc3,
		#7ec7cf,
		#9cdeda
	);
	color: blanchedalmond;
}

section #buttons aside:hover i {
	color: blanchedalmond;
}

aside:nth-of-type(2) {
	width: 50%;
	height: 75%;
	position: absolute;
	top: 5.5%;
	left: 45.5%;
	background-color: blanchedalmond;
	border-radius: 2px;
	overflow-y: auto;
}
